In [3]:
import pandas as pd

# Create a DataFrame from the table
data = {'num': [8, 8, 3, 3, 1, 4, 5, 6]}
my_numbers = pd.DataFrame(data)
print(my_numbers)

   num
0    8
1    8
2    3
3    3
4    1
5    4
6    5
7    6

In [13]:
numb_counts = my_numbers['num'].value_counts()
# df = numb_counts.to_frame().reset_index()
df = numb_counts
df

   num  count
0    8      2
1    3      2
2    1      1
3    4      1
4    5      1
5    6      1

In [10]:
df = df.loc[(df['count'] == 1) & (df['num'] == df['num'].max())]
df

Empty DataFrame
Columns: [num, count]
Index: []